/***
 *
 * @author Fabio Mereu @description Content Style
 *
 **/


// standard classes //
$banggood: "good-search-banggood";
$display: "good-search-display";
$softFilter: "good-search-soft-filter";
$hardFilter: "good-search-hard-filter";
$root: "good-search-root";
$box: "good-search-box";
$outofstock: "good-search-out-of-stock";
$filtered: "good-search-filtered";
$small: "good-search-small";


/* Banggood Content Style */
$banggood-primary: #ff6e26;
$banggood-secondary: #ff4733;
$banggood-gray: #656570;

@mixin apply_background($color) {
    background: $color;
    color: white;
    box-color: adjust-color($color, $lightness: -5%);
}

.#{$box} {
    display: none;
}

.#{$banggood} {
    .#{$root} {
        position: relative;
        transition:
            filter .5s,
            outline-width .5s,
            outline-offset .25s,
            max-width .5s linear,
            margin .5s linear,
            padding .5s linear;
        outline-width: 0;
        outline-offset: 0;
        max-width: 250px;
    }

    .#{$box} {
        display: block;
        opacity: 0;
        position: absolute;
        user-select: none;
        box-sizing: content-box;
        z-index: 1;
        right: 0;
        top: 0;

        border: 1px solid transparent;
        border-radius: 8px 4px 8px 4px;

        font-family: OpenSans, Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-shadow: 1px 1px 0px rgba(black, .5);


        padding: 0 5px;
        //adding: 5px;

        transition: all .5s;
        transition-property: opacity, background, border;

        @include apply_background($banggood-primary);

        &.good-search-out-of-stock {
            @include apply_background($banggood-gray);
        }

        background: linear-gradient(133deg, $banggood-secondary, $banggood-primary);

        &.good-search-small {
            font-size: 11px;
        }
    }

    .#{$display} {
        .#{$box}:not(:empty) {
            opacity: 1;

            &:hover {
                opacity: .2;
            }
        }
    }

    .#{$hardFilter} {
        :not(.#{$filtered}).#{$root} {
            overflow: hidden; //!important;
            max-width: 0; // !important;
            margin: 0; //!important;
            padding: 0;
        }
    }

    .#{$softFilter} {
        :not(.#{$filtered}).#{$root} {
            filter: invert(0.2) saturate(0) blur(1.2px) opacity(0.5);
        }
    }

    .#{$softFilter},
    .#{$hardFilter} {
        .#{$filtered}.#{$root} {
            outline: 2px solid rgba($banggood-primary, .5);
            outline-offset: 5px;
        }
    }
}